@charset "UTF-8";
/*
 * @File Name : styleGuideFonts
 *
 * 수정일 | 수정자 | 수정내용
 * 2021.06.04 | 최한올 | 최초 작성
 *
 * @author 개발1팀 최한올
 *
 * ★★ 이 파일은 절대 편집하지 마세요. 
 */

@import "_styleGuideVariables", "_styleGuideMixin";

/******************** Noto Sans Korean - Hestia ********************/
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Thin"), local("NotoSans-Thin");
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Thin-Hestia.eot);
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Thin-Hestia.eot) format("embedded-opentype"), url(../fonts/woff/NotoSansKR-Hestia/NotoSansKR-Thin-Hestia.woff) format("woff"), url(../fonts/woff2/NotoSansKR-Hestia/NotoSansKR-Thin-Hestia.woff2) format("woff2"), url(../fonts/otf/NotoSansKR-Hestia/NotoSansKR-Thin-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Light"), local("NotoSans-Light");
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Light-Hestia.eot);
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Light-Hestia.eot) format("embedded-opentype"), url(../fonts/woff/NotoSansKR-Hestia/NotoSansKR-Light-Hestia.woff) format("woff"), url(../fonts/woff2/NotoSansKR-Hestia/NotoSansKR-Light-Hestia.woff2) format("woff2"), url(../fonts/otf/NotoSansKR-Hestia/NotoSansKR-Light-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular");
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Regular-Hestia.eot);
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Regular-Hestia.eot) format("embedded-opentype"), url(../fonts/woff/NotoSansKR-Hestia/NotoSansKR-Regular-Hestia.woff) format("woff"), url(../fonts/woff2/NotoSansKR-Hestia/NotoSansKR-Regular-Hestia.woff2) format("woff2"), url(../fonts/otf/NotoSansKR-Hestia/NotoSansKR-Regular-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium");
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Medium-Hestia.eot);
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Medium-Hestia.eot) format("embedded-opentype"), url(../fonts/woff/NotoSansKR-Hestia/NotoSansKR-Medium-Hestia.woff) format("woff"), url(../fonts/woff2/NotoSansKR-Hestia/NotoSansKR-Medium-Hestia.woff2) format("woff2"), url(../fonts/otf/NotoSansKR-Hestia/NotoSansKR-Medium-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold");
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Bold-Hestia.eot);
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Bold-Hestia.eot) format("embedded-opentype"), url(../fonts/woff/NotoSansKR-Hestia/NotoSansKR-Bold-Hestia.woff) format("woff"), url(../fonts/woff2/NotoSansKR-Hestia/NotoSansKR-Bold-Hestia.woff2) format("woff2"), url(../fonts/otf/NotoSansKR-Hestia/NotoSansKR-Bold-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans Black"), local("NotoSans-Black");
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Black-Hestia.eot);
  src: url(../fonts/eot/NotoSansKR-Hestia/NotoSansKR-Black-Hestia.eot) format("embedded-opentype"), url(../fonts/woff/NotoSansKR-Hestia/NotoSansKR-Black-Hestia.woff) format("woff"), url(../fonts/woff2/NotoSansKR-Hestia/NotoSansKR-Black-Hestia.woff2) format("woff2"), url(../fonts/otf/NotoSansKR-Hestia/NotoSansKR-Black-Hestia.otf) format("opentype");
}