/*
 * @File Name : styleGuideBase
 *
 * 수정일 | 수정자 | 수정내용
 * 2021.05.18 | 최한올 | 최초 작성
 *
 * @author 개발1팀 최한올
 * 김지범//
 * ★★ 이 파일은 절대 편집하지 마세요. 
 */

@import "_styleGuideVariables", "_styleGuideMixin";

*{padding: 0; margin: 0;}
html, body{
    @include basic-style($font-family: $font-family-noto-sans);
    overflow-x: hidden;
}
button{
    font-family: inherit;
    background: none;
    border: none;
    cursor: pointer;
}
a{text-decoration: none; color: $text-color-01;}
ul, ol, li{list-style-type: none;}
select{
    font-family: inherit;
    @include appearance($appearance: none);
    cursor: pointer;
    &::-ms-expand{display: none;}
    &[value=""][hidden]{display: none;}
}
img, input{border: 0;}
input, textarea, pre{font-family: inherit;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: $font-style-medium;}
section, header, footer, nav, div, span, ul, ol, li, a, p, form, select, option, input{
    @include box-sizing($box-sizing: border-box);
}
h1, h2, h3, h4, h5, h6{font-size: $font-size-medium;}